@font-face {
  font-family: Revue;
  src: url('/fonts/revue.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-family: Revue;
  font-size: 4rem;
  font-weight: 700;
}

h3 {
  font-family: Revue;
  font-size: 3rem;
  font-weight: 700;
}

.vocs_Paragraph,
.vocs_List,
.vocs_List_ordered {
  text-align: left;
}
